.skills {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 6rem;
}

.skills__header {
  display: flex;
  align-items: center;
}
.skills__header img {
  width: 3rem;
  height: auto;
}

.skills__container {
  width: 80vw;
  height: 40rem;
  background-color: var(--navy-secondary);
}